// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

h2 
  font-size: 1.5em

h3 
  font-size: 0.8em

.small 
  font-size: 0.5em

.gray 
  color : gray

.circle 
  border-radius: 50%

.red
  color : #FF2D55
  
.yellow
  color : #FFCC00

.green
  color : #4CD964

.blue
  color : #007AFF

.puple
  color : #C86EDF

.center
  text-align : center
  
ul.no-bullet li::before
  content : ''
  
.emphatic
  background : #FF2D55

.comment
  position: absolute
  bottom : 10px
  right: 0px
  color : gray
  font-size : 0.4em

.f04
    font-size: 0.4em
.f05
  font-size: 0.5em
.f06
  font-size: 0.6em
.f07
  font-size: 0.7em
.f08
  font-size: 0.8em
.f09
  font-size: 0.9em
